.title {
  text-align: start;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 38px;
}

.subtitle {
  text-align: start;
  margin-bottom: 8px;
  color: #2B8CE5;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media (min-width: 710px) {
  .subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
  }
}

.formWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 19px;
}
