.crumbsWrapper {
  display: none;
}

@media (min-width: 710px) {
  .crumbsWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    margin-right: 60px;
    padding: 42px 0 0 26px;
    width: 234px;
    box-shadow: 1px 0px 0px #2D3232;
    position: relative;
  }
}

.gradientWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -140px;
  left: 10px;
  width: 210px;
  height: 200px;
  border-radius: 100%;
  background: linear-gradient(280.87deg, #87F696 20.45%, #00FFFF 41.25%, #9C16EF 72.03%, #4200FF 94.43%);
  opacity: 0.5;
  filter: blur(32.5px);
}

.emptyWood {
  width: 1px;
  height: 40px;
  background: rgba(255, 255, 255, 0.3);
  margin-left: 3px;
}

.emptyDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.3);
}

.dotContent {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emptyDotText {
  color: rgba(255, 255, 255, 0.3);
  width: 150px;
  margin-left: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.currentDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
  color: #fff;
  transition: 0.5s ease-in;
  transition-timing-function: linear;
}

.currentDotText {
  color: #fff;
  width: 150px;
  margin-left: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.prevWood {
  width: 1px;
  height: 40px;
  background-color: #2B8CE6;
  transition: 0.5s ease-in;
  transition-timing-function: linear;
  margin-left: 3px;
}

.prevDot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #2B8CE6;
}

.prevDotText {
  color: #2B8CE6;
  width: 150px;
  margin-left: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}